.header-custom {
  position: sticky;
  background-color: var(--ion-color-light);
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
  // font-family: "Epunda Slab", serif;
  h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
  }

  h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
  }
}

.header-custom-little {
  position: sticky;
  background-color: var(--ion-color-light);
  height: 10vh;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  // font-family: "Epunda Slab", serif;
  h1 {
    margin: 0;
    font-size: 1.5  rem;
    font-weight: 600;
  }

  h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
  }
}