<form [formGroup]="createAsistenciaForm">
  <ion-list class="ion-margin-bottom">
    <ion-item-divider>
      <ion-label>Selecciona la fecha</ion-label>
    </ion-item-divider>

    <ion-item button detail="false" (click)="abrirPopover($event)">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>
        {{ createAsistenciaForm.get("date")?.value | date : "dd/MM/yyyy" }}
      </ion-label>
    </ion-item>
  </ion-list>

  @if (empleadosFormArray.length > 0) {
  <ion-list formArrayName="employees" class="ion-margin-top">
    <ion-list-header>
      <ion-label>Listado de trabajadores</ion-label>
    </ion-list-header>

    @for (grupo of empleadosFormArray.controls; let i = $index; track
    grupo.get('id')?.value) {
    <div [formGroupName]="i" class="empleado-item">
      <div class="empleado-nombre">
        <ion-icon name="person-circle-outline" class="empleado-icon"></ion-icon>
        <div class="empleado-texto">
          <span class="empleado-nombre-texto">{{
            grupo.get("name")?.value
          }}</span>
          <span class="empleado-apellido">{{
            grupo.get("surname")?.value
          }}</span>
        </div>
      </div>

      <ion-select
        mode="ios"
        appFocusFix
        formControlName="state"
        interface="popover"
        placeholder="Seleccionar"
        class="empleado-select"
      >
        <ion-select-option value="asistencia">✅ Asistencia</ion-select-option>
        <ion-select-option value="retraso">⏰ Retraso</ion-select-option>
        <ion-select-option value="falta">❌ Falta</ion-select-option>
        <ion-select-option value="permiso">📄 Permiso</ion-select-option>
      </ion-select>
    </div>
    }
  </ion-list>
  }
  <app-custom-footer-button [buttonText]="'Guardar'" (actionClick)="onSubmit()">
  </app-custom-footer-button>
</form>

<ion-popover
  [isOpen]="mostrarPopover"
  [event]="eventoPopover"
  (didDismiss)="cerrarPopover()"
>
  <ng-template>
    <ion-datetime
      presentation="date"
      [value]="createAsistenciaForm.get('date')?.value"
      (ionChange)="seleccionarFecha($event.detail.value)"
      showDefaultButtons="true"
      doneText="Ok"
      cancelText="Cancelar"
      [max]="today"
      [firstDayOfWeek]="1"
    >
    </ion-datetime>
  </ng-template>
</ion-popover>
