.no-company-message {
  text-align: center;
  margin: 16px 0;
  font-weight: bold;
}

.custom-card {
  margin: 0.2rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  ion-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--ion-color-primary);
  }

  ion-card-content {
    font-size: 0.95rem;
    color: #555;
  }
}