<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (noCompanyMessage) {
    <div class="no-company-message">
    <ion-text color="danger">{{ noCompanyMessage }}</ion-text>
  </div>
  <ion-button expand="block" (click)="navigateTo('create-company')">Crear Empresa</ion-button>
  } @else {

  <div>
    <!-- Contenido principal de la página -->
    <p>Contenido de la página de bienvenida...</p>
  </div>
  }
  
</ion-content>