<ion-content class="ion-padding">
  <app-custom-header [title]="'Empresas'" [subtitle]="'Crea o selecciona una empresa'">

  </app-custom-header>

  @if (noCompanyMessage) {
  <div class="no-company-message">
    <ion-text color="danger">{{ noCompanyMessage }}</ion-text>
  </div>
  } @else {
  <div>
    <ion-list>
      @for (item of companyList; track $index) {
      <ion-card class="custom-card" (click)="navigateToCompany(item.companyId)">
        <ion-card-header>
          <ion-card-title>{{ item.companyName }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ item.description }}</p>
        </ion-card-content>
      </ion-card>
      }
    </ion-list>
  </div>
  }

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="primary" (click)="navigateTo('create-company')">
      Crear empresa
    </ion-button>
  </ion-toolbar>
</ion-footer>