.centered-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  ion-input {
    width: 100%;
    max-width: 300px;
  }

  ion-note {
    margin-top: 4px;
    font-size: 12px;
    text-align: center;
  }
}