<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>  
    <app-custom-header [little]="true" [title]="'Crear Enmpleado'" >
    </app-custom-header>
  </ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true">

  <form [formGroup]="createEmployeeForm">
    <ion-list [inset]="true">
      <ion-item>
        <ion-input label="Nombre" formControlName="name" type="text" maxlength="14"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Apellidos" formControlName="surname" type="text" maxlength="30"></ion-input>       
      </ion-item>

      <ion-item>
        <ion-input label="Email" formControlName="email" type="email"></ion-input>       
      </ion-item>

      <ion-item>
        <ion-input label="Teléfono" formControlName="phone" type="phone" maxlength="9"></ion-input>       
      </ion-item>
    </ion-list>

  </form>
</ion-content>

<app-custom-footer-button [disabled]="createEmployeeForm.invalid" [buttonText]="'Guardar'" (actionClick)="onSubmit()">
</app-custom-footer-button>