  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <app-custom-header [little]="true" [title]="'Configuración'" >
      </app-custom-header>
    </ion-title>
  </ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button (click)="updateCompany()">
      <ion-label>Cambiar datos empresa</ion-label>
      <ion-icon name="settings-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button (click)="createAlert()">
      <ion-label>Crear alerta imputación</ion-label>
      <ion-icon name="hourglass-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item button (click)="logout()">
      <ion-label>Logout</ion-label>
      <ion-icon name="log-out-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
