<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/welcome"></ion-back-button>
  </ion-buttons>
  <ion-title>
    <app-custom-header [little]="true" [title]="'Asistencia'">
    </app-custom-header>
  </ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true" [scrollX]="scroll">
  <!-- Segment -->
  <form [formGroup]="segmentForm">
    <ion-segment formControlName="segment">
      <ion-segment-button value="asistencia">
        <ion-label>Imputación</ion-label>
      </ion-segment-button>
      <ion-segment-button value="listado">
        <ion-label>Ver Asistencias</ion-label>
      </ion-segment-button>
    </ion-segment>
  </form>
  @if (segmentForm.get('segment')?.value === 'asistencia' && employees.length) {
  <!-- Bloque imputacion -->
  <app-attendance-inputation
    [today]="today"
    [companyId]="companyId"
    [employeesList]="employees"
  ></app-attendance-inputation>
  }

  <!-- Bloque ver asistencias-->
  @if (segmentForm.get('segment')?.value === 'listado') {
  <app-attendance-list [today]="today" [companyId]="companyId">
  </app-attendance-list>

  }
</ion-content>

